*{
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-modify:read-only;
}
ul li{
    list-style: none;
}
.hidden{
    overflow:hidden;
}
.hide{
    display: none;
}
.re{
    position: relative;
}
.ab{
    position: absolute;
}
.fx{
    position: fixed;
}
.inlB{
    display: inline-block;
}
a{
    text-decoration: none;
}
.center{
    text-align: center;
}
body img{
    width:100%;
}
/*头部*/
.heared{
    height:2.1511rem;
    background: #3b3c3d;
    z-index: 1000;
}
.menu_btn{
    width:0.8604rem;
    height:0.9465rem;
    top:0;
    left:0;
    padding:0.6023rem 0.6453rem;
}
.menu_btn_active{
    background: #666;
}
.menu_btn span{
    display: block;
    width:0.8604rem;
    height:0.0860rem;
    background: #fff;
    margin: 0.1721rem 0;
}
.logo{
    width:32%;
    left:38%;
    top:0.5163rem;
}
.menu-list-box{
    position: fixed;
    top:0;
    z-index: 100;
}
.menu-list-left{
    padding-top:2.1511rem;
    top:0;
    width:40%;
    height:100%;
    background: rgba(59,60,61,0.95);
}
.menu-list-right{
    padding-top:2.1511rem;
    top:0;
    left:40%;
    width:60%;
    height:100%;
    background: rgba(148,148,148,0.95);
}
.menu-nav1 li{
    position: relative;
    text-align: center;
    color:#d5d3d3;
    height:1.7209rem;
    line-height:1.7209rem;
    font-size:0.7744rem;
    margin:0.4302rem 0
    /*border-bottom:1px solid rgba(30,30,30,0.4);*/
}
.menu-nav1 li a{
    color:#d5d3d3;
    width:100%;
    display: inline-block;
}
.menu-nav1 li:first-child{
    /*border-top:1px solid rgba(30,30,30,0.4);*/
}
.active{
    color: #ffffff !important;
}
.active a{
    color: #ffffff !important;
}
.active .thismenu{
    width:0.1291rem;
    position: absolute;
    height:100%;
    top:0;
    left:0;
    background: #da6c6c;
}
.menu-list li{
    text-align: center;
    font-size: 0.7744rem;
    height:1.7209rem;
    line-height:1.7209rem;
    margin: 0.8604rem 0;
}
.menu-list li a{
    color:#eee;
    width:100%;
    display: inline-block;
}
.nav_this{
    background: rgba(191,191,191,0.7);
}

/*头部end*/
/*7大产业*/
.link_box{
    background: #eee;
    font-size: 0;
    padding-bottom:1.2907rem;
}
.link_item{
    width:25%;
    display: inline-block;
}
.link_item img{
    position: relative;
    width:70%;
    left:15%;
    margin: 0.8604rem 0;
}
.link_item p{
    font-size: 0.6023rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    top: 4.0871rem;
}

/*7大产业结束*/
/*purpose*/
.purpose h3{
    font-size:0.6884rem;
    text-align: center;
    line-height: 3.0116rem;
}
.purpose p{
    font-size: 0.6453rem;
    text-align: center;
    margin-bottom:0.4302rem;
    color:#666;
}
.purpose span a{

    width:72%;
    height:2.1511rem;
    text-align: center;
    line-height: 2.1511rem;
    background: #ce282b;
    color:#fff;
    font-size: 0.7744rem;
    margin-left: 14%;
    border-radius: 0.2581rem;
    margin-top:0.8604rem;
}
.line{
    width:100%;
    height:2px;
    background: #eee;
    margin: 2.5rem 0;
}
/*purpose end*/
/*news*/
.news_title{
    border-bottom:1px solid #eee;
    height:1.8rem;
}
.news_title h3{
    font-size: 0.6884rem;
}
.iconbox{
    width: 12%;
    height: 1rem;
    bottom: -0.3rem;
    left: 44%;
    text-align: center;
    line-height: 1rem;
    background: #fff;
}
.iconbox img{
    width:0.3442rem;
    height:0.2581rem;
}
.news_list{
    padding:1.4rem 0;
    border-bottom:1px solid #eee;
}
.pic_left{
    height:4rem;
    width:5.5rem;
    padding-left:0.5rem;
    vertical-align: middle;
}
.pic_cover img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.content-right{
    height:4rem;
    width:9rem;
    vertical-align: middle;
    padding:0.5rem
}
.content-right p{
    font-size: 0.6827rem;
    line-height: 1.0240rem;
    text-align: justify;
    color:#000;
    font-weight: bold;
    /*display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;*/
}
.content-right .news-time{
    font-size: 0.5163rem;
    color:#666;
    right: 0.5rem;
    bottom: 0.5rem;
}
.content-right .news-icon{
    width:0.6827rem;
    height:0.4267rem;
    right:1.5rem;
    bottom:1.5rem;
}
.content-right .news-icon span{
    font-size: 0.5163rem;
    color:#666;
    left:1rem;
    top:-0.1280rem;
}
.content-right .tomore{
    font-size: 0.6827rem;
    left:0.5rem;
    color:blue;
    bottom: 0.5rem;
}

.more_btn{
    width:72%;
    height:2.1511rem;
    text-align: center;
    line-height: 2.1511rem;
    background: #ce282b;
    color:#fff;
    font-size: 0.7744rem;
    margin:2.5rem 14%;
    border-radius: 0.2581rem;

}
/*news end*/


/*新闻页开始*/
.news-search{
    height:2.5600rem;
}
.news-search .input-search{
    width:68%;
    height:1.7067rem;
    left:4%;
    top:0.4267rem;
    background: #eee;
    border-radius: 0.2560rem;
}
.news-search .input-search input{
    height:100%;
    border:none;
    background: none;
    width:70%;
    padding:0 5%;
    font-size:0.7680rem;
}
.news-search .input-search input:focus {
    outline: none;
    background-color: transparent;
}
.news-search .input-search input::-webkit-input-placeholder{
    color: #999;
    font-size:18px;
}
.news-search .input-search .search-btn{
    height:1.7067rem;
    width:1.7067rem;
    top:0;
    right:0;
}
.news-search .input-search .search-btn img{
    width:70%;
    top:15%;
}
.search-line{
    height:1.7067rem;
    top:0.4267rem;
    left:75%;
    width:2px;
    background: #eee;
}
.news-select{
    width:18%;
    height:1.7067rem;
    top:0.4267rem;
    right:4%;

    font-size:0.8533rem;
    line-height:1.7067rem;
}
.select-icon{
    width:0.9387rem;
    right:0;
    top:0.4267rem;
}
/*新闻筛选窗口*/
.search-box{
    position: fixed;
    z-index: 99;
    background: #fff;
    top:0;
}
.search-box{

    width:2rem;
    background: rgba(148,148,148,0.94);
}
.search-right{
    padding-top:2.1511rem;
    width:88%;
    height:calc(100% - 2.1511rem);
    background: #fff;
    margin-left: 12%;

}
.select-title{
    margin:0 0 5% 1% ;
    display: inline-block;
    font-size: 0.6827rem;
}
.select-list{
    padding:7% 2%;
    border-bottom:1px solid #eee;
    font-size: 0;
}
.select-list ul li {
    display: inline-block;
    width:31%;
    font-size:0.5973rem;
    text-align: center;
    margin:1% 1%;
    background: #eee;
    height:1.5360rem;
    line-height: 1.5360rem;
    border-radius: 0.2560rem;
    color:#666;
}
.select-active{
    background: #c0c0c0 !important;
    color: #ffffff !important;;
}
.select-btn-box{

    bottom:1rem;
    width:100%;
    text-align: center;
}
.select-btn-box .select-btn{
    background: #da312b;
    width:40%;
    border:none;
    color:#fff;
    font-size:0.6827rem;
    height:1.5360rem;
    line-height:1.5360rem;
    border-radius: 0.2560rem;
    margin: 2%;

}
/*新闻筛选窗口结束*/
.news-centerpic{
    width:100%;
    height:5rem;
    margin-bottom:2rem;
}
.news_list_box{
    border-top: 2px solid #eee;
    margin-bottom: 2rem;
}
.news_list_box .news_list{
    padding: 0.8rem 0;
    border-bottom: 2px solid #eee;
}
/*新闻页结束*/

/*七大产业开始*/
.content{
    padding:0 0.5rem;
}
.industry-title-box h3{
    font-size:0.6827rem;
    font-weight: bold;
    margin: 0.8533rem 0;
}
.industry-title-box h4{
    font-size:0.5973rem;
    font-weight: bold;
    margin-bottom:1.4933rem;
    white-space: nowrap;
}
.code-icon{
    display: inline-block;
    width:0.3413rem;
    height:0.2560rem;
    left:50%;
    top:1.1947rem;
    margin-left: -0.1707rem;

}
.industry-title-box p{
    text-indent: 1.1947rem;
    font-size:0.5973rem;
    text-align: justify;
    line-height: 1.3rem;
    margin-bottom: 2.1333rem;
}
.industry-pic{
    height:7rem;
    margin-bottom: 2.1333rem;
}
.industry-center{
    height:3.5rem;
}
.industry-line{
    width:100%;
    border:1px solid #eee;
    top:0.7680rem;

}
.border-text{
    background: #fff;
    left:50%;
    transform:translate(-50%);
    padding:0 0.6rem;
    white-space: nowrap;
}
.border-text span{
    display: inline-block;
    width:0.9387rem;
    height:0.9387rem;
    font-size:0.6827rem;
    text-align: center;
    line-height: 0.9387rem;
    border:1px solid #eee;
    margin: 0 1px;
}
.industry-center-text{
    text-indent: 1.1947rem;
    font-size: 0.5973rem;
    text-align: justify;
    line-height: 1.3rem;
    margin-bottom: 1.2800rem;
}
.industry-list {
    padding-left:1.0667rem;
}
.industry-list img{
    width:0.8533rem;
    height:0.8533rem;
    left:0;
    top:0.1280rem;
}
.industry-list p{
    font-size: 0.5973rem;
    text-align: justify;
    line-height: 1.0667rem;
    margin-bottom: 1.2800rem;
}
/*七大产业结束*/

/*法律声明开始*/
.legal h3{
    text-align: center;
    margin: 1rem 0 1.5rem 0;
    font-size: 0.6827rem;
}
.base_p{
    font-size: 0.5973rem;
    text-align: justify;
    line-height: 1.0667rem;
    margin-bottom: 2rem;
}
.legal-list{
    padding-left:0.9387rem;
}
.legal-list span{
    left:0;
    top:0.16rem;
    font-size:0.5973rem;
}
/*法律声明结束*/

/*联系我们开始*/
.contact1{

}
.contact-title{
    width:20%;
    margin-left:40%;
    margin-top:1rem;
    margin-bottom:2rem;
}
.contact-icon{
    width:0.3413rem;
    left:50%;
    transform:translate(-50%);
    top:2rem;
}
.contact-address{
    width:20%;
    margin-left:40%;

}
.address-text{
    font-size: 0.6827rem;
    color:#999;
    margin-top:0.3rem;

}
.contact-icon-box{
    height:4rem;
}
.contact-line{
    border-bottom:1px solid #f0f0f0;
}
.content-form{
    padding:1px 0;
    margin-top:0.2rem;
    background: #f0f0f0;
}
.input-name{
    height:1.8rem;
    width:84%;
    background: #fff;
    margin-left: 4%;
    margin-bottom: 1px;
    border-radius: 0.2560rem;
    line-height:1.8rem;
    font-size:0.6827rem;
    padding:0 0.6400rem;
}
.input-name span{
    display: inline-block;
    width:22%;
}
.input-name input{
    width:70%;
    height:100%;
    border:none;
    background-color: transparent;
    font-size:0.5973rem;
}
.input-name input:focus {
    outline: none;
    background-color: transparent;
}
.input-name input::-webkit-input-placeholder{
    color: #eee;
    font-size:0.5973rem;
}
.input-text{
    height:4rem;
    margin-bottom:2rem;
}
.input-text textarea{
    width:100%;
    height:70%;
    border:none;
    background-color: transparent;
    font-size:0.5973rem;
    resize:none;
    padding:0.5rem 0;

}
.input-text textarea:focus {
    outline: none;
    background-color: transparent;
}
.input-text textarea::-webkit-input-placeholder{
    color: #eee;
    font-size:0.5973rem;
}
.form-box .btn_pub{
    width: 72%;
    height: 1.8rem;
    text-align: center;
    line-height: 1.8rem;
    background: #da312b;
    color: #fff;
    font-size: 0.7744rem;
    margin-left: 14%;
    border-radius: 0.2581rem;
    margin-bottom: 2rem;
    border:none;
}
/*联系我们结束*/
/*企业文化开始*/
.culture-box{
    height:8rem;
}
.culture-box .culture-center-pic{
    width:20%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}
.culture-box .culture-right-pic{
    height:100%;
    width:auto;
    right:0;
}
.culture-box .culture-left-pic{
    height:100%;
    width:auto;
    left:0;
}
.culture_text{
    padding:0.5rem;
    text-indent: 1.1947rem;
    font-size: 0.5973rem;
    text-align: justify;
    line-height: 1.3rem;

}
/*企业文化结束*/
/*总裁致辞开始*/
.ceo-box{
    font-size: 0;
    padding-bottom:3rem;
}
.ceo-left{
    width:45%;
    margin-right:5%;
}
.ceo-left h3{
    font-size: 0.6400rem;
    right:0;
    bottom:-1.1093rem;
}
.ceo-right{
    width:50%;

}
.ceo-right h3{
    font-size: 0.7680rem;
    line-height:1.2800rem;
}
.ceo-right p{
    text-indent: 1.1947rem;
    font-size: 0.5973rem;
    text-align: justify;
    line-height: 1.3rem;
}

/*总裁致辞结束*/

/*人才招聘开始*/
.rec-box{
    padding:0 0 1.5rem 0;
}
.rec-position{
    font-size: 0.6827rem;
    line-height: 1.7067rem;
    border-bottom:1px solid #eee;
    padding-left:0.5rem;
    font-weight: bold;
}
.rec-res{
    font-size: 0.6400rem;
    line-height: 2.5600rem;
    padding-left:0.5rem;
    font-weight: bold;
}
.res-text{
    font-size: 0.5973rem;
    line-height: 1.2800rem;
    padding:0 0.5rem;
    text-align: justify;
}
.rec-more{
    color:#306aa0;
    font-size:0.5973rem;
    right:1.5rem;
}
.rec-center{
    font-size: 0.5973rem;
    line-height: 2.5600rem;
}
.bottom-picBox{
    font-size:0;
    margin-bottom:2rem;
}
.bottom-picBox img{
    width:49%;
}
.res-textBottom{
    margin-bottom:0.8rem;
}
.rec-boxpub{
    border-bottom:1px solid #eee;
    padding-bottom:2rem;
}
.backIcon{
    width:20px;
    left:50%;
    bottom:0.5rem;
    transform: translate(-50%);
}
/*人才招聘结束*/
















/*尾部*/
.footer{
    height:2.1511rem;
    background: #000;
}
.footer p {
    font-size:0.6023rem;
    color:#fff;
    text-align: center;
    line-height: 2.1511rem;
    margin-left: -0.6884rem;;
}
.footer p span{
    display: inline-block;
    margin: 0 0.4302rem;
}
.footer p span a{
    color:#fff;
    text-decoration: none;
}
.footTop{

}
.footTop img{
    width:0.8604rem;
    height:0.7680rem;
    top:0.6884rem;
    right:-1.2800rem;
}
/*尾部end*/












