/*
* @Author: zmgz
* @Date:   2017-10-27 14:50:36
* @Last Modified by:   zmgz
* @Last Modified time: 2017-10-30 12:16:00
*/
.p-select,.p-textarea{
	width: 100%!important;
	border-radius: 4px;
}
.pad-left{
	padding: 0 1.5rem!important;
}
.btn-right{
	float: right;
	border-radius: 4px;
}
.table-check{
	width: auto;
	text-align: center;
}
.font-w label{
	font-weight: normal;
	margin-right: 15px;
}
.p-time{
	display: block;
	font-size: 14px;
	color: #999999;
}
.p-title{
	font-size: 24px;
	color: #333333;
	font-weight: normal;
}
.p-martop{
	margin: 20px 0;
}
.p-textarea{
	background-color: #FFFFFF!important;
}
.page-title{
	line-height: 30px;
	margin-bottom: 30px;
}
/*  */
.listsg{
	border-bottom: 1px solid #DDDDDD;
}
.listsg li{
	display: inline-block;
	width: 20%;
	list-style: none;
	line-height: 40px;

}
.active01{
	background-color: #188AE2;
	color: #FFFFFF;

}
.txtlft {
    text-align: left;
    font-size: 16px;
    color: #004C93;
    font-weight: bold;
    margin: 0 0 10px 3px;
    border-left: 3px solid #004C93;
    padding-left: 8px;
}
.view_table{
	border-collapse: collapse;
}
.bd-none  tbody  tr  td{
	border: none;
}
.view_table tbody tr td{
	border: solid 1px #efeded;
    padding: 10px;
    font-size: 14px;
    color: #666666;
}
.table-font{
	font-size: 14px;
}
.view_table tbody tr td{
	border: solid 1px #efeded;
    padding: 10px;
    color: #666666;
}
.view_table caption,.l-table caption{
	font-size: 16px;
	margin-bottom: 20px;
}
.color-y{
	color:#F7AD39;
	display: inline-block;
}
.initial_bg {
	margin-top: 20px;
	width:180px;
	height:180px;
	border:1px solid #eeeeee;
    background-color: #f7f8f8;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.thisImg{
	width: 100%;
	height: 100%;
}
.file{
	width: 100%;
	height: 100%;
	position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.loading{
	position: absolute;
	left: 36px;
	top:60px;
	padding-right:20px; 
}
.loading span:after{
	    content: '';
    width: 16px;
    height: 16px;
    background-image: url(../img/add-icon01.png);
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 0;
}
.img-show{
	width: 100%;
    height: auto;
}
.table-input input{
	width: 100%;
	height: 100%;
	border: none;
}
/* 物有所值定量分析表 */
.top-head p{
	font-size: 16px;
	float: left;
	margin-top: 14px;
}
.top-head ul{
	width: 40%;
	float: right;
}
.top-head li{
	width: 46%;
	display: inline-block;
	margin-right: 10px;
}
.l-table td{
	height: 60px;
}
